.logo {
    width: 116px;
    height: auto;
}

.logo__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}