.logo {
    width: 112px;
    height: auto;
}

.logo__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    animation: logoAnimation 3072ms linear infinite;
}

@keyframes logoAnimation {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}