.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-top: 64px;
}

.footer__copyright {
    font-size: 14px;
    color: #F5F5F5;
}