.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 18px;
    margin-top: 32px;
}

.footer {
    color: white;

}